@import '../../assets/styles/vars';
@import '../../assets/styles/functions';

// /. imports

.button {
    width: useRem(40);
    height: useRem(40);
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        transform: rotate(90deg);
        flex-shrink: 0;
        width: 50%;
        height: 50%;
    }
}

.button.active {
    background-color: $ligth-blue;
}