@import '../../assets/styles/vars';
@import '../../assets/styles/functions';

// /. imports

.button {
    width: useRem(40);
    height: useRem(40);
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    transition: opacity 0.3s ease-in-out;

    &:hover {
        opacity: .5;
    }

    &::after {
        content: attr(data-content);
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        position: absolute;
        bottom: useRem(-5);
        right: useRem(-5);
        z-index: 2;

        display: flex;
        justify-content: center;
        align-items: center;

        width: useRem(40);
        height: useRem(40);
        background-color: $primary-color;
        border: useRem(1) solid $dark-color;
    }

    svg {
        transform: rotate(90deg);
        flex-shrink: 0;
        width: 50%;
        height: 50%;
    }

}

.button.active {
    background-color: $ligth-blue;
    opacity: 1;

    &:hover {
        &::after {
            background-color: rgba($color: $dark-color, $alpha: .7);
            border: useRem(1) solid rgba($color: $white-color, $alpha: .5);
            color: $white-color;
        }
    }

    &::after {
        color: $dark-color;
        opacity: 1;
        visibility: visible;
    }
}