@import '../../assets/styles/vars';
@import '../../assets/styles/functions';

// /. imports

.button {
    width: useRem(40);
    height: useRem(40);
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    &::after {
        content: '';
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
        position: absolute;
        bottom: useRem(-5);
        right: useRem(-5);
        z-index: 2;

        display: flex;
        justify-content: center;
        align-items: center;

        width: useRem(40);
        height: useRem(40);
        background-color: $primary-color;
        border: useRem(1) solid $dark-color;
    }

    svg {
        transform: rotate(90deg);
        flex-shrink: 0;
        width: 50%;
        height: 50%;
    }

    &:not(:last-child) {
        margin-right: useRem(50)
    }
}

.button.active {
    background-color: $ligth-blue;

    &::after {
        content: attr(data-content);
        color: $dark-color;
        opacity: 1;
        visibility: visible;
    }
}