@import '../../assets/styles/vars';
@import '../../assets/styles/functions';

// /. imports

.footer {
    flex: 0 0 auto;
    background-color: $dark-color;

    &__wrapper {
        position: relative;
        padding: useRem(25) useRem(60);
    }
}