@import './vars';
@import './functions';

// /. imports

html,
body {
    font-size: #{$font-size}px;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: $white-color;
    font-family: 'Gilroy-Medium', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

.container {
    max-width: useRem(1044);
    width: 100%;
    padding: 0 useRem(10);
    margin: 0 auto;
}