@import '../../assets/styles/vars';
@import '../../assets/styles/functions';

// /. imports

.swiper {
    position: static;
    width: 100%;
    height: 100%;
    padding: useRem(5);
}


.swiper-scrollbar {
    background: transparent;
    bottom: auto;
    top: useRem(3);
}

.swiper-scrollbar-drag {
    background: $white-color;
}

.swiper-slide {
    background: transparent;
    display: flex;
    justify-content: space-between;
}

.slider-button {
    position: absolute;
    bottom: 0;
    margin: useRem(15) useRem(10);
    width: useRem(40);
    height: useRem(40);
    background-color: $primary-color;
    transition: all .3s ease-out;

    &:active {
        &::after {
            border-color: transparent #007aff transparent transparent;
        }
    }

    &:hover {
        background-color: rgba($color: $primary-color, $alpha: .6)
    }

    &:disabled {
        opacity: 0.75;
    }

    &:disabled {
        &::after {
            border-color: transparent $white-color transparent transparent;
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        transition: all .3s ease-out;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: useRem(14) useRem(26) useRem(14) 0;
        border-color: transparent $white-color transparent transparent;
    }
}

.slider-button.next {
    right: 0;

    &::after {
        transform: translate(-50%, -50%) rotate(180deg);
    }
}

.slider-button.prev {
    left: 0;

    &::after {
        transform: translate(-50%, -50%);
    }
}